<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Waste</title>
    <link rel="stylesheet"type="text/css" href="{{ url_for('static', filename='e.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='faq.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
   

</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">E-WASTE</h2>
            </div>
            <div class="location">
                <a href="https://www.google.com/maps/search/e+waste+facility+locator/@12.9690615,77.436146,11z/data=!3m1!4b1?entry=ttu">Facility Location</a>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>
        </div>

                <div class="icons">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                </div>
            </div>
        </div>

        <!-- About Us Section -->
<section>
    <h1 class="title">
        <p>OUR TEAM</p>
    </h1>

    <div class="cont">

        <div class="item" id="items-1">
            <img src="static\images boy.png" alt="Shrinikethan S" class="img">
            <div class="imgdesc" id="name">
                <p><b>Shrinikethan S</b></p>
            </div>
            <div class="imgdesc" id="work">
                <p><b>Engineering Student</b></p>
            </div>
            <div class="imgdesc" id="lang">
                <p><b>Deals with Database, Locations</b></p>
            </div>
            <div class="connect">
                <h3>Connect with Him</h3>
                <a href="https://facebook.com" target="_blank"> <i class="fa fa-facebook fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://twitter.com" target="_blank"> <i class="fa fa-twitter fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://instagram.com/shrini_._s" target="_blank"> <i class="fa fa-instagram fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://github.com/shrini_._s" target="_blank"> <i class="fa fa-github fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://linkedin.com/in/_._s" target="_blank"> <i class="fa fa-linkedin fa-fw">&nbsp;&nbsp;</i></a>
            </div>
        </div>

        <div class="item" id="items-2">
            <img src="static\images boy.png" alt="Shalom R" class="img">
            <div class="imgdesc" id="name">
                <p><b>Shalom R</b></p>
            </div>
            <div class="imgdesc" id="work">
                <p><b>Engineering Student</b></p>
            </div>
            <div class="imgdesc" id="lang">
                <p><b>Deals with HTML, CSS</b></p>
            </div>
            <div class="connect">
                <h3>Connect with Him</h3>
                <a href="https://facebook.com" target="_blank"> <i class="fa fa-facebook fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://twitter.com" target="_blank"> <i class="fa fa-twitter fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://instagram.com/shalom" target="_blank"> <i class="fa fa-instagram fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://github.com/shalom" target="_blank"> <i class="fa fa-github fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://linkedin.com/in/shalom" target="_blank"> <i class="fa fa-linkedin fa-fw">&nbsp;&nbsp;</i></a>
            </div>
        </div>

        <div class="item" id="items-3">
            <img src="static\images boy.png" alt="Surya Vignesh" class="img">
            <div class="imgdesc" id="name">
                <p><b>Surya Vignesh</b></p>
            </div>
            <div class="imgdesc" id="work">
                <p><b>Engineering Student</b></p>
            </div>
            <div class="imgdesc" id="lang">
                <p><b>Deals with HTML, CSS</b></p>
            </div>
            <div class="connect">
                <h3>Connect with Him</h3>
                <a href="https://facebook.com" target="_blank"> <i class="fa fa-facebook fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://twitter.com" target="_blank"> <i class="fa fa-twitter fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://instagram.com/Surya" target="_blank"> <i class="fa fa-instagram fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://github.com/Surya" target="_blank"> <i class="fa fa-github fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://linkedin.com/in/Surya" target="_blank"> <i class="fa fa-linkedin fa-fw">&nbsp;&nbsp;</i></a>
            </div>
        </div>

        <div class="item" id="items-4">
            <img src="static\images.png" alt="Samantha" class="img">
            <div class="imgdesc" id="name">
                <p><b>Samantha</b></p>
            </div>
            <div class="imgdesc" id="work">
                <p><b>Engineering Student</b></p>
            </div>
            <div class="imgdesc" id="lang">
                <p><b>Deals with JavaScript</b></p>
            </div>
            <div class="connect">
                <h3>Connect with Her</h3>
                <a href="https://facebook.com" target="_blank"> <i class="fa fa-facebook fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://twitter.com" target="_blank"> <i class="fa fa-twitter fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://instagram.com/Samantha" target="_blank"> <i class="fa fa-instagram fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://github.com/Samantha" target="_blank"> <i class="fa fa-github fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://linkedin.com/in/Samantha" target="_blank"> <i class="fa fa-linkedin fa-fw">&nbsp;&nbsp;</i></a>
            </div>
        </div>
    </div>
</section>
<!-- Products Section -->
<section id="product">
    <h1 class="title">
        <p>Our Products</p>
    </h1>

    <div class="product" id="product-1">
        <img src="static/laptop.png">
        <div class="imgdesc" id="name">
            <h2>Product Type: <a href="static\laptop.png">Laptop</a></h2>
           <marque>
 <a href="productfull" target="_blank">
            </a>
        </div>
    </div>

    <div class="product" id="product-2">
        <img src="static/keyboard.png">
        <div class="imgdesc" id="name">
            <h2>Product Type: <a href="static/keyboard.png">Keyboards</a></h2>
            <a href="productfull" target="_blank">
            </a>
        </div>
    </div>

    <div class="product" id="product-3">
        <img src="static/phones.png">
        <div class="imgdesc" id="name">
            <h2>Product Type: <a href="static/phones.png">Cell Phones</a></h2>
            <a href="productfull" target="_blank">
            </a>
        </div>
    </div>

    <div class="product" id="product-4">
        <img src="static/tv.png">
        <div class="imgdesc" id="name">
            <h2>Product Type: <a href="static/tv.png">Smart TV</a></h2>
            <a href="productfull" target="_blank">
                    
            </a>
        </div>
    </div>

    <div class="product" id="product-5">
        <img src="static/microchips.png">
        <div class="imgdesc" id="name">
            <h2>Product Type: <a href="static\microchips.png">Micro Chips</a></h2>
            <a href="productfull" target="_blank">
            </a>
        </div>
    </div>
</section>

 <!-- Contact Us Section -->
 <section id="contact">
    <div class="cont">
        <div class="contact" id="one">
            <h1>Contact Us<br></h1>
            <h1><i class="fa fa-envelope fa-fw"></i> &nbsp; <a href="https://gmail.com">Ewaste01@gmail.com</a></h1>
            <h1><i class="fa fa-phone fa-fw"></i> &nbsp; 6874521365</h1>
            <h1>Location:</h1>
            <h1>E Waste Innovation Center, Kudlu Gate, Bangalore</h1>
        </div>
        <div class="contact" id="2">
            <div class="top">
                <h1>Send us a message</h1>
            </div>
            <div class="formgrp">
                <input type="text" name="" placeholder="Enter your name" required>
            </div>
            <div class="formgrp">
                <input type="text" name="" placeholder="Enter your email" required>
            </div>
            <div class="formgrp">
                <input type="number" name="" placeholder="Enter your phone number" required>
            </div>
            <div class="mess">
                <textarea rows="9" cols="60" placeholder="Your Message"></textarea>
            </div>
        </div>
    </div>
</section>


        <!-- FAQ Section -->
        <section id="faq">
            <div class="upper">
                <div class="top" id="left">
                    <p>Hello,<br> how can we help you?</p>
                </div>
                <div class="top" id="right">
                    <p>Search your query</p>
                    <div class="inp">
                        <input type="text" placeholder="Search by topic or keyword">
                    </div>
                </div>
            </div>
            <div class="tit">Some Frequently Asked Questions</div>
            <div class="cont">
                <div class="ques" id="one">
                    <div class="question">Q. What is E-waste?</div>
                    <div class="answer">E-waste is basically anything in which any kind of electric things are present in
                        it.For example remote control cars, mobiles, laptops, batteries etc.
                    </div>
                </div>
                <div class="ques" id="two">
                    <div class="question">Q. What Qualifies As E-Waste?</div>
                    <div class="answer">Below is a common but incomplete list of electrical / electronic items that can be
                        qualified as E-Waste at the end of life:
                        <ul>
                            <li>IT Related Items (Servers, Telecommunication equipment, Desktop CPUs, Laptops, Monitors,
                                Printers, Scanners, Fax machines, Telephones, Keyboard, Mouse and related cables)</li>
                            <li>Domestic appliances ,Fridges, Washing machines, ACs, TVs, Radios, Audio equipment,
                                Washing machines, ACs, TVs, Radios, Audio equipment, Fans, Microwaves,
                                Electric Kettles, OTGs, Mixer grinders, Geysers, UPS systems (excluding batteries), Cell-phones,
                                Landline
                                phones, routers, Dish TV systems and set-top boxes, remote controls, pumps, motors, electrical
                                panels
                                Unbroken CFLs and tube-lights, LED and other light fixtures, electrical wire and cables.
                            </div>
                        </div>
                        <div class="ques" id="three">
                            <div class="question">
                                Q. What is IT hardware destruction ?
                            </div>
                            <div class="answer">
                                IT hardware destruction and data destruction are almost similar terms. Both are the processes that
                                are
                                used
                                to securely destroy the data available on laptops, hard disks, and another form of electronic media.
                
                                E waste recycling companies also issues destruction certificate With this evidence one get ensured
                                that
                                the
                                data is completely destroyed and cannot be accessed for any unauthorized process.
                
                                To Recycle your E waste submit your details : <a href="login.html">Click Here</a>
                            </div>
                        </div>
                        <div class="ques" id="four">
                            <div class="question">
                                Q. What is E-waste Data Destruction & Why is it Important?
                
                            </div>
                            <div class="answer">
                                E-waste data destruction basically means dismantling & recycling of your old electrical and
                                electronic
                                items and ensuring that all the important data baring materials such as hard disk, floppy drive, pen
                                drive, memory cards has been deleted. E-waste and data destruction is important for a number of
                                reasons.
                
                                Keep business data protected
                                It safeguards the environment
                                Recycle the e-waste according to the pollution control board
                                Ensures secure data destruction as per industry standards to protect your company privacy
                
                            </div>
                        </div>
                        <div class="ques" id="five">
                            <div class="question">
                                Q. Why is E-waste management important?
                            </div>
                            <div class="answer">
                                E-waste management is important to keep electrical and electronic waste out of landfills. Damaged
                                computers, laptops, mobile devices, televisions, and even household appliances are considered to be
                                E-waste. When improperly disposed of, the toxic elements in e-waste can pollute the environment. That is
                                why e waste recycling can significantly reduce the increasing risks of greenhouse gas emissions.
                            </div>
                        </div>
                        <div class="ques" id="six">
                            <div class="question">
                                Q. How can i get paid here?
                            </div>
                            <div class="answer">
                                When you have made the post of the waste you want to sell. We will verify the image and product and make
                                sure that all the necessary details are given then we will uplaoad your post to our website. Thias
                                process will take a time of max 24 hours. and after your post has been posted on website then anyone
                                from the world can see it and if they need that product they will contact you regarding this.
                            </div>
                        </div>
                        <div class="ques" id="ultima">
                            <div class="question">
                                If you have some another query, feel free to ask us!
                                <div class="ask">
                                    <div class="formgrp" id="1">
                                        <input type="text" name="" placeholder="Enter your name" required>
                                    </div>
                                    <div class="formgrp" id="2">
                                        <input type="text" name="" placeholder="Enter your email" required>
                                    </div>
                                </div>
                    </div>

                
    
            </section>
        </section>
</body>